*{
    margin: 0;
}

body {
    background-color: #302F3D;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
}

.col1 {
    height: 100vh;
    width: 31vw;
    background-color: #000;
}

.col2 {
    height: 100vh;
    width: 66vw;
    background-color:blueviolet;
}

.col1row1 {
    display: flex;
    flex-direction: column;
    height: 40vh;
    flex: 1;
    background-color: #837E9F;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    border-radius: 5%;
}


#imagemperfil {
    display: flex;
    border-radius: 50%;
    border: 2px solid #00FF00;
    height: 180px;   
    width: 180px;
    margin: 1.2rem;
}

.col1row1 div:nth-of-type(1){
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
}
.col1row2 {
    display: flex;
    height: 40vh;
    flex: 1;
    /* background-color: cadetblue ; */
    background-color: #837E9F;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5vh;
    margin: 20px;
    border-radius: 5%;
}

.col1row2 ul {
    list-style: none;
    line-height: 5vh;
    
}

.col1row2 ul li img {
    padding-right: 2vh;
}

.col1row3 {
    display: flex;
    height: 40vh;
    flex: 1;
    background-color: #837E9F;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 5%;
    
}

.imagensTec {
    width: 100px;
    border-radius: 50%;
    border: 2px solid white;
}


span{
    padding: 2vh;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    margin: 3vh;
}


.col1row3 ul {
    display: flex;
    flex-direction: row;
    gap: 3vh;
    padding: 2vh;
    /* border: 2px dashed #00FF00; */
    margin: auto auto;
    /* border-radius: 15px; */
}

#tecnologias {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    
}

#tecnologias ul {
    /* display: flex;  PAREI AQUI  */ 
    list-style: none;
    
}

.col2row1 {
    display: flex;
    height: 13vh;
    flex: 1;
    background-color: darkgoldenrod;
    justify-content: space-between;
    align-items: center;
    
}


.col2row2 {
    display: flex;
    height: 27vh;
    flex: 1;
    background-color:deeppink;
    /* background-color: #302F3D; */
    justify-content: space-between;
}

.intern1 {
    height: 27vh;
    width: 49%;
    background-color: maroon;
}

.intern2 {
    height: 27vh;
    width: 49%;
    background-color: antiquewhite;
} 

.col2row3 {
    display: flex;
    height: 40vh;
    flex: 1;
    background-color:deeppink;
    /* background-color: #302F3D; */
    justify-content: space-between;
    
}


.col2row3 ul {
    list-style: none;
    padding: 20px; 
    line-height: 5vh;
}

.intern3 {
    display: flex;
    height: 40vh;
    width: 49%;
    background-color: chartreuse;
    text-align: center;
    /* justify-content: flex-start; */
    flex-direction: column;
    margin: 20px;
    border-radius: 5%;
}

.inter3 span {
   margin: 0;
   padding: 0;
}

.intern4 {
    display: flex;
    height: 40vh;
    width: 49%;
    background-color:khaki;
    text-align: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 5%;
    
}

.col2row4 {
    display: flex;
    height: 30vh;
    flex: 1;
    background-color:salmon;
}

.footer {
    height: 10vh;
    width: 100%;
    background-color: mediumorchid;
   
}